@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

body{ 
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

h1{ 
    text-align: center;
}

h2{
    text-align: center;
}

section{ 
    background-color: blue;
    line-height: 7em;
    padding: 4em;
}

.inter-semibold{
    font-family: "Inter", sans-serif;
    font-size: 6.5rem;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.05em;
    color: white;
    z-index: -1;
}

.noto-nastaliq-urdu{
   font-family: "Noto Nastaliq Urdu", serif; 
   font-size: 6.5rem;
   color: blue;
    -webkit-text-stroke: 0.1rem white; /* Chrome, Edge, Safari */
    position:relative;
    top: 0.1em;
}

.noto-nastaliq-urdu-second-child{
    font-family: "Noto Nastaliq Urdu", serif; 
    font-size: 6.5rem;
    color: blue;
    -webkit-text-stroke: 0.1rem white; /* Chrome, Edge, Safari */
    position: relative;
    bottom: 0.5em;
}


em{
    font-style: italic;
}

h3{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    font-weight: 400;
    color: rgb(80, 80, 80)
}

h4{
    color:  rgb(232, 40, 152);
    font-weight: 400;
}

blockquote{
  margin-left: 100px; /* Adjust the value as needed */
  margin-right: 100px;

}

a:hover {
    color: rgb(63, 200, 39);
}

a:visited {
    color:blue
}

h5{
    font-weight: 400;
}

footer{
    font-size: small;
}
*:not(:first-child) {margin-block-start: 1rem;}

blockquote + p {
    margin-block-start: 1em;
}